.home {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#testBtn {
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: #1f60a9;
  color: white;
  width: 250px;
  height: 60px;
  border: #1f60a9;
}

#listBtn {
  border-radius: 30px;
  background-color: #0c2d83;
  color: white;
  width: 250px;
  height: 60px;
  border: #0c2d83;
}
